.bun {
  width: 100%;
  margin-left: 37px;
}

.other {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 13px;
  cursor: move;
  position: relative;
}

.indicator {
  opacity: 0.8;
  transition: all 0.2s ease-in;
}

.indicator::before {
  display: block;
  content: '';
  width: 70%;
  height: 2px;
  background-color: var(--colors-interface-accent);
  box-shadow: 0 0 15px 3px var(--colors-interface-accent);

  position: absolute;
  bottom: -5px;
  left: 50%;

  transform: translate(-50%);
  transition: all 0.2s ease-in;
}
