.content {
  width: 600px;
}

.wrapper {
  max-height: 696px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  width: 100%;
  max-height: 464px;
  overflow-x: hidden;
  margin: 16px 0;
}

.list {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 13px;
}

.priceBurger {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 41px;
  margin: 40px;
}
