.content {
  max-width: 600px;
  height: 696px;
}

.bunItem {
  margin: 0 16px 0 37px;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-height: 464px;
  overflow-x: hidden;
  margin: 16px 0;
}

.list {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-right: 8px;
}


.priceBurger {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 41px;
  margin-top: 40px;
}