.profile {
  max-width: 1280px;
  height: 332px;

  margin: 196px auto 0px auto;
  display: flex;
  gap: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.submit {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 28px;
}
