.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  gap: 8px;
  position: relative;
  max-width: 272px;
}

.figcaption {
  text-align: center;
}

.info {
  display: flex;
  justify-content: center;
  gap: 9px;
  margin-bottom: 8px;
}
