.details {
  margin: 0;
  padding: 40px 40px 60px;
  text-align: center;
}

.box {
  width: 640px;
  height: 64px;

  display: flex;
  align-items: center;
}

.center {
  justify-content: center;
}

.img {
  width: 480px;
  height: 240px;
  margin: 0 0 16px 0;
}

.lists {
  margin: 32px 0 0 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list p {
  margin: 0;
}
