.details {
  max-width: 520px;
  margin: 0;
  margin: 105px 100px 60px;
}

.title {
  position: absolute;
  top: 52px;
  left: 40px;
}

.img {
  width: 480px;
  height: 240px;
}

.info {
  text-align: center;
  margin: 16px 0 0 0;
}

.lists {
  margin: 32px 0 0 0;
  list-style: none;
  display: flex;
  gap: 20px;
  text-align: center;
}
