.listItem {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nameItem {
  max-width: 300px;
}

.infoItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.priceItem {
  display: flex;
  gap: 8px;
}
