body {
  margin: 0;
  position: relative;
}

figure,
figcaption {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
}

.title {
  max-width: 1280px;
  margin: 40px auto 20px auto;
}

.wrapper {
  margin-top: -80px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content-route {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.route-link:hover {
  text-decoration: underline;
}

.input {
  position: relative;
}

.icon-input {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.icon-input:hover {
  opacity: 0.4;
}

.text-error {
  height: 21px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s ease-in;
}

.text-error-active {
  height: 21px;
  visibility: visible;
  opacity: 1;

  font-size: 14px;
  color: tomato;
  transition: all 0.1s ease-in;
}
